{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  {% include "javas.html.twig"%}

  <html>
    <head>
      <style>
        body {
          margin-top: 20px;
          background: #f6f9fc;
        }
        .account-block {
          padding: 0;
          background-image: url("https://bootdey.com/img/Content/bg1.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;
          position: relative;
        }
        .account-block .overlay {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.4);
        }
        .account-block .account-testimonial {
          text-align: center;
          color: #fff;
          position: absolute;
          margin-right: 20px;
          padding: 50px;
          bottom: 3rem;
          left: 0;
          right: 0;
        }

        .text-theme {
          color: #5369f8 !important;
        }

        .btn-theme {
          background-color: #5369f8;
          border-color: #5369f8;
          color: #fff;
        }
        .container {
          border-radius: 5px;
        }
        .cont2 {
          padding: 50px 20px 50px 50px;
        }

        h2 {
          margin-top: 50px;
          margin-bottom: 60px;
          margin-left: 300px;
          color: #76bfe9;
        }
        .btn {
          margin-bottom: 70px;
          margin-left: 300px;
          padding-left: 35px;
          padding-right: 35px;
        }
      </style>

    </head>
    <body>
      {% if user.semRegistre %}
        <h1>
          vous êtes inscrit au séminaire
          <a href="{{path('show_profil')}}" class="btn-primary">Voir mon inscription
          </a>

        </h1>
      {% else %}
        <h2>S'inscire au séminaire
        </h2>
        <form method="post" action="{{path('sem_register')}}">
          <div id="main-wrapper" class="container">
            <div class="row justify-content-center">
              <div class="col-xl-10">
                <div class="card border-0">
                  <div class="card-body p-0">
                    <div class="row no-gutters">
                      <div class="col-lg-6">
                        <div class="p-5">

                          <div class="form-group">
                            <label for="prenom">Prénom :
                            </label>
                            <input type="text" class="form-control" placeholder="Tapez votre prénom" name="prenom" required="required">
                          </div>
                          <div class="form-group">
                            <label for="nom">Nom :</label>
                            <input type="nom" class="form-control" name="nom" placeholder="tapez votre nom" required="required">
                          </div>

                          <div class="form-group">
                            <label for="civility">
                              Civilté :
                            </label>
                            <select class="form-control" name="civility" required="required">
                              <option></option>
                              <option>Madame :
                              </option>
                              <option>
                                Mademoiselle :</option>
                              <option>
                                Monsieur :</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="int_poste">Intitulé de poste :
                            </label>
                            <input type="text" class="form-control" name="int_poste" required="required">
                          </div>

                          <div class="form-group">
                            <label for="phone_fix">Téléphone Fixe :</label>
                            <input type="tel" class="form-control" name="phone_fix" required="required">
                          </div>

                          <div class="form-group">
                            <label for="phone">Téléphone portable professionnel ou personnel à usage :
                            </label>
                            <input type="tel" class="form-control" name="phone" required="required">
                          </div>

                          <small class="form-text text-muted">Votre numéro de téléphone servire uniquement à Weyou groupe , pour vous informer de tout changement (Horaires,Conférences,Report de derniére minute, envoir du badge, différentes, animations business et événements..) il ne sera en aucun cas communiqué aux exposants (badges, emailings, etc..)</small>
                        </div>
                      </div>

                      <div class="cont2 col-lg-6 d-none d-lg-inline-block">
                        <h6>
                          Apropos de l'entreprise :
                        </h6>
                        <div class="form-group">
                          <label for="raison">Raison Sociale :
                          </label>
                          <input type="text" class="form-control" name="raison" required="required">
                        </div>

                        <div class="form-group">
                          <label for="adresse">Adresse :</label>
                          <input type="text" class="form-control" name="adresse" required="required">
                        </div>
                        <div class="form-group">
                          <label for="code_poste">
                            Code Postale :
                          </label>
                          <input type="text" class="form-control" name="code_poste" required="required">
                        </div>

                        <div class="form-group">
                          <label for="ville">
                            Ville :</label>
                          <input type="text" class="form-control" name="ville" required="required">
                        </div>

                        <div class="form-group">
                          <label for="pays">
                            Pays :
                          </label>
                          <div id="pays"></div>
                          <div class="form-group">
                            <label for="web_site">
                              Site internet :</label>
                            <input type="text" class="form-control" name="web_site" required="required">
                          </div>

                        </div>
                        <div class="form-group">
                          <label for="activity">
                            Activité :</label>
                          <input type="text" class="form-control" name="activity" required="required">
                        </div>

                      </div>

                    </div>
                    <input type="submit" value="Enregistrer" class=" btn btn-lg btn-primary">

                  </div>
                  <a href="{{path('home')}}">Retour</a>

                </div>

              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->

            <!-- end row -->

          </div>
          <!-- end col -->
        </div>
        <!-- Row -->

      </form>
    {% endif %}
  {% endblock %}
