{% extends 'base.html.twig' %}

{% block title %}welcome
{% endblock %}

{% block body %}
  <a href="{{path('sem_register')}}" class="btn btn-primary">
    S'inscrire au séminaire
  </a>

{% endblock %}
